src/schemas/dxf_v1_schema/dxf.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    dxf.rnc - the compact syntax is "the source"
    dxf.rng and dxf.xsd are derived using jing
    
    TODO:
    ns="http://www.dhis2.org/schema/dxf" >
  -->
  <!-- These are toplevel elements of dxf format -->
  <start>
    <element name="dxf">
      <optional>
        <!--
          Metadata section
          This is a rough grouping of the sections
          as they appear in the file.
          Each section is optional.
        -->
        <ref name="MultiDimensionalElements"/>
      </optional>
      <optional>
        <ref name="DataElementDefinition"/>
      </optional>
      <optional>
        <ref name="IndicatorDefinition"/>
      </optional>
      <optional>
        <ref name="DataDictionaryDefinition"/>
      </optional>
      <optional>
        <ref name="DataSetDefinition"/>
      </optional>
      <optional>
        <ref name="OrgUnitDefinition"/>
      </optional>
      <optional>
        <ref name="periods"/>
      </optional>
      <optional>
        <ref name="ReportTableDefinition"/>
      </optional>
      <optional>
        <ref name="completeDataSetRegistrations"/>
      </optional>
      <optional>
        <!-- DataValues -->
        <ref name="dataValues"/>
      </optional>
    </element>
  </start>
  <!--
    
    Each of the MetaData groups is a sequence of elements
    
    
  -->
  <define name="MultiDimensionalElements">
    <ref name="categoryOptions"/>
    <ref name="categories"/>
    <ref name="categoryCombos"/>
    <ref name="categoryOptionCombos"/>
    <ref name="categoryCategoryOptionAssociations"/>
    <ref name="categoryComboCategoryAssociations"/>
  </define>
  <define name="DataElementDefinition">
    <ref name="dataElements"/>
    <ref name="dataElementGroups"/>
    <ref name="dataElementGroupMembers"/>
  </define>
  <define name="IndicatorDefinition">
    <ref name="indicatorTypes"/>
    <ref name="indicators"/>
    <ref name="indicatorGroups"/>
    <ref name="indicatorGroupMembers"/>
  </define>
  <define name="DataDictionaryDefinition">
    <ref name="dataDictionaries"/>
    <ref name="dataDictionaryDataElements"/>
    <ref name="dataDictionaryIndicators"/>
  </define>
  <define name="DataSetDefinition">
    <ref name="dataSets"/>
    <ref name="dataSetMembers"/>
  </define>
  <define name="OrgUnitDefinition">
    <ref name="organisationUnits"/>
    <ref name="organisationUnitRelationships"/>
    <ref name="organisationUnitGroups"/>
    <ref name="organisationUnitGroupMembers"/>
    <ref name="groupSets"/>
    <ref name="groupSetMembers"/>
    <ref name="organisationUnitLevels"/>
    <ref name="dataSetSourceAssociations"/>
  </define>
  <define name="ReportTableDefinition">
    <ref name="reportTables"/>
    <ref name="reportTableDataElements"/>
    <ref name="reportTableCategoryOptionCombos"/>
    <ref name="reportTableIndicators"/>
    <ref name="reportTableDataSets"/>
    <ref name="reportTablePeriods"/>
    <ref name="reportTableOrganisationUnits"/>
  </define>
  <!--
    
    The ugly detail of each element follows ...
    
    
  -->
  <!-- MultiDimensionalElements -->
  <define name="categoryOptions">
    <element name="categoryOptions">
      <oneOrMore>
        <element name="categoryOption">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="categories">
    <element name="categories">
      <oneOrMore>
        <element name="category">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>
  <define name="categoryCombos">
    <element name="categoryCombos">
      <oneOrMore>
        <ref name="categoryCombo"/>
      </oneOrMore>
    </element>
  </define>
  <define name="categoryCombo">
    <element name="categoryCombo">
      <element name="id">
        <data type="integer"/>
      </element>
      <element name="name">
        <text/>
      </element>
    </element>
  </define>
  <define name="categoryOptionCombos">
    <element name="categoryOptionCombos">
      <zeroOrMore>
        <element name="categoryOptionCombo">
          <element name="id">
            <data type="integer"/>
          </element>
          <ref name="categoryCombo"/>
          <ref name="categoryOptions"/>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="categoryCategoryOptionAssociations">
    <element name="categoryCategoryOptionAssociations">
      <zeroOrMore>
        <element name="categoryCategoryOptionAssociation">
          <element name="category">
            <data type="integer"/>
          </element>
          <element name="categoryOption">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="categoryComboCategoryAssociations">
    <element name="categoryComboCategoryAssociations">
      <zeroOrMore>
        <element name="categoryComboCategoryAssociation">
          <element name="categoryCombo">
            <data type="integer"/>
          </element>
          <element name="category">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- DataElementDefinition -->
  <define name="dataElements">
    <element name="dataElements">
      <zeroOrMore>
        <ref name="dataElement"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="dataElement">
    <element name="dataElement">
      <element name="id">
        <data type="integer"/>
      </element>
      <element name="uuid">
        <text/>
      </element>
      <element name="name">
        <text/>
      </element>
      <element name="alternativeName">
        <text/>
      </element>
      <element name="shortName">
        <text/>
      </element>
      <element name="code">
        <text/>
      </element>
      <element name="description">
        <text/>
      </element>
      <element name="active">
        <text/>
      </element>
      <element name="type">
        <text/>
      </element>
      <element name="aggregationOperator">
        <text/>
      </element>
      <element name="categoryCombo">
        <data type="integer"/>
      </element>
    </element>
  </define>
  <define name="dataElementGroups">
    <element name="dataElementGroups">
      <zeroOrMore>
        <element name="dataElementGroup">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="uuid">
            <text/>
          </element>
          <element name="name">
            <text/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="dataElementGroupMembers">
    <element name="dataElementGroupMembers">
      <zeroOrMore>
        <element name="dataElementGroupMember">
          <element name="dataElementGroup">
            <data type="integer"/>
          </element>
          <element name="dataElement">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- IndicatorDefinition -->
  <define name="indicatorTypes">
    <element name="indicatorTypes">
      <zeroOrMore>
        <element name="indicatorType">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
          <element name="factor">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="indicators">
    <element name="indicators">
      <zeroOrMore>
        <element name="indicator">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="uuid">
            <text/>
          </element>
          <element name="name">
            <text/>
          </element>
          <element name="alternativeName">
            <text/>
          </element>
          <element name="shortName">
            <text/>
          </element>
          <element name="code">
            <text/>
          </element>
          <element name="description">
            <text/>
          </element>
          <element name="annualized">
            <text/>
          </element>
          <element name="indicatorType">
            <data type="integer"/>
          </element>
          <element name="numerator">
            <text/>
          </element>
          <element name="numeratorDescription">
            <text/>
          </element>
          <element name="numeratorAggregationOperator">
            <text/>
          </element>
          <element name="denominator">
            <text/>
          </element>
          <element name="denominatorDescription">
            <text/>
          </element>
          <element name="denominatorAggregationOperator">
            <text/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="indicatorGroups">
    <element name="indicatorGroups">
      <zeroOrMore>
        <element name="indicatorGroup">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="uuid">
            <text/>
          </element>
          <element name="name">
            <text/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="indicatorGroupMembers">
    <element name="indicatorGroupMembers">
      <zeroOrMore>
        <element name="indicatorGroupMember">
          <element name="indicatorGroup">
            <data type="integer"/>
          </element>
          <element name="indicator">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- Data Dictionary Definition -->
  <define name="dataDictionaries">
    <element name="dataDictionaries">
      <zeroOrMore>
        <element name="dataDictionary">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
          <element name="description">
            <text/>
          </element>
          <element name="region">
            <text/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="dataDictionaryDataElements">
    <element name="dataDictionaryDataElements">
      <zeroOrMore>
        <element name="dataDictionaryDataElement">
          <element name="dataDictionary">
            <data type="integer"/>
          </element>
          <element name="dataElement">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="dataDictionaryIndicators">
    <element name="dataDictionaryIndicators">
      <zeroOrMore>
        <element name="dataDictionaryIndicator">
          <element name="dataDictionary">
            <data type="integer"/>
          </element>
          <element name="indicator">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- DataSet Definition -->
  <define name="dataSets">
    <element name="dataSets">
      <zeroOrMore>
        <element name="dataSet">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
          <element name="shortName">
            <text/>
          </element>
          <element name="code">
            <text/>
          </element>
          <element name="periodType">
            <text/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="dataSetMembers">
    <element name="dataSetMembers">
      <!-- TODO: check dataSetMembers -->
      <ref name="anyElements"/>
    </element>
  </define>
  <!-- Organisation Unit Definition -->
  <define name="organisationUnits">
    <element name="organisationUnits">
      <zeroOrMore>
        <ref name="organisationUnit"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="organisationUnit">
    <element name="organisationUnit">
      <group>
        <element name="id">
          <data type="integer"/>
        </element>
        <element name="uuid">
          <text/>
        </element>
        <element name="name">
          <text/>
        </element>
        <element name="shortName">
          <text/>
        </element>
        <element name="code">
          <text/>
        </element>
        <!-- <element name="openingDate"><data type="date"/></element> -->
        <element name="openingDate">
          <text/>
        </element>
        <!-- TODO: accept Date or nothing -->
        <element name="closedDate">
          <text/>
        </element>
        <element name="active">
          <text/>
        </element>
        <element name="comment">
          <text/>
        </element>
        <element name="geoCode">
          <text/>
        </element>
      </group>
      <!-- TODO: URL in dxf? -->
    </element>
  </define>
  <define name="organisationUnitRelationships">
    <element name="organisationUnitRelationships">
      <zeroOrMore>
        <element name="organisationUnitRelationship">
          <element name="parent">
            <data type="integer"/>
          </element>
          <element name="child">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="organisationUnitGroups">
    <element name="organisationUnitGroups">
      <zeroOrMore>
        <element name="organisationUnitGroup">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="uuid">
            <text/>
          </element>
          <element name="name">
            <text/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="organisationUnitGroupMembers">
    <element name="organisationUnitGroupMembers">
      <zeroOrMore>
        <element name="organisationUnitGroupMember">
          <element name="organisationUnitGroup">
            <data type="integer"/>
          </element>
          <element name="organisationUnit">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="groupSets">
    <element name="groupSets">
      <zeroOrMore>
        <element name="groupSet">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
          <element name="description">
            <text/>
          </element>
          <element name="compulsory">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="exclusive">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="groupSetMembers">
    <element name="groupSetMembers">
      <zeroOrMore>
        <element name="groupSetMember">
          <element name="groupSet">
            <data type="integer"/>
          </element>
          <element name="organisationUnitGroup">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="organisationUnitLevels">
    <element name="organisationUnitLevels">
      <zeroOrMore>
        <element name="organisationUnitLevel">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="level">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="dataSetSourceAssociations">
    <element name="dataSetSourceAssociations">
      <zeroOrMore>
        <element name="dataSetSourceAssociation">
          <element name="dataSet">
            <data type="integer"/>
          </element>
          <element name="source">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- Periods -->
  <define name="periods">
    <element name="periods">
      <zeroOrMore>
        <element name="period">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="periodType">
            <text/>
          </element>
          <element name="startDate">
            <data type="date"/>
          </element>
          <element name="endDate">
            <data type="date"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- ReportTable Definition -->
  <define name="reportTables">
    <element name="reportTables">
      <zeroOrMore>
        <element name="reportTable">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
          <element name="tableName">
            <text/>
          </element>
          <element name="existingTableName">
            <text/>
          </element>
          <element name="mode">
            <text/>
          </element>
          <element name="regression">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="doIndicators">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="doCategoryOptionCombos">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="doPeriods">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="doOrganisationUnits">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="reportingMonth">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last3Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last6Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last9Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last12Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="soFarThisYear">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="soFarThisFinancialYear">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last3To6Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last6To9Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last9To12Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last12IndividualMonths">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="individualMonthsThisYear">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="individualQuartersThisYear">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="paramReportingMonth">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="paramParentOrganisationUnit">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="paramOrganisationUnit">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="reportTableDataElements">
    <element name="reportTableDataElements">
      <!-- TODO: check for proper children -->
      <ref name="anyElements"/>
    </element>
  </define>
  <!-- ReportTableCategoryOptionCombos -->
  <define name="reportTableCategoryOptionCombos">
    <element name="reportTableCategoryOptionCombos">
      <!-- TODO: check for proper children -->
      <ref name="anyElements"/>
    </element>
  </define>
  <!-- ReportTableIndicators -->
  <define name="reportTableIndicators">
    <element name="reportTableIndicators">
      <zeroOrMore>
        <element name="reportTableIndicator">
          <element name="reportTable">
            <data type="integer"/>
          </element>
          <element name="indicator">
            <data type="integer"/>
          </element>
          <element name="sortOrder">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- ReportTableDataSets -->
  <define name="reportTableDataSets">
    <element name="reportTableDataSets">
      <zeroOrMore>
        <element name="reportTableDataSet">
          <element name="reportTable">
            <data type="integer"/>
          </element>
          <element name="dataSet">
            <data type="integer"/>
          </element>
          <element name="sortOrder">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- ReportTablePeriods -->
  <define name="reportTablePeriods">
    <element name="reportTablePeriods">
      <!-- TODO: check for proper children -->
      <ref name="anyElements"/>
    </element>
  </define>
  <!-- ReportTableOrganisationUnits -->
  <define name="reportTableOrganisationUnits">
    <element name="reportTableOrganisationUnits">
      <zeroOrMore>
        <element name="reportTableOrganisationUnit">
          <element name="reportTable">
            <data type="integer"/>
          </element>
          <element name="organisationUnit">
            <data type="integer"/>
          </element>
          <element name="sortOrder">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- TODO: What are these? -->
  <define name="completeDataSetRegistrations">
    <element name="completeDataSetRegistrations">
      <!-- TODO: check completeDataSetRegistrations -->
      <ref name="anyElements"/>
    </element>
  </define>
  <!-- DataValue Section -->
  <define name="dataValues">
    <element name="dataValues">
      <zeroOrMore>
        <element name="dataValue">
          <element name="dataElement">
            <data type="integer"/>
          </element>
          <element name="period">
            <data type="integer"/>
          </element>
          <element name="source">
            <data type="integer"/>
          </element>
          <element name="value">
            <text/>
          </element>
          <!-- TODO: Don't use storedBy -->
          <element name="storedBy">
            <optional>
              <data type="integer"/>
            </optional>
          </element>
          <element name="timeStamp">
            <text/>
          </element>
          <element name="comment">
            <text/>
          </element>
          <element name="categoryOptionCombo">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- Convenience (from odf spec) for filling in the "dark spots" -->
  <define name="anyAttListOrElements">
    <zeroOrMore>
      <attribute>
        <anyName/>
      </attribute>
    </zeroOrMore>
    <ref name="anyElements"/>
  </define>
  <define name="anyElements">
    <zeroOrMore>
      <element>
        <anyName/>
        <mixed>
          <ref name="anyAttListOrElements"/>
        </mixed>
      </element>
    </zeroOrMore>
  </define>
</grammar>
