src/schemas/dxf_v2_schema/dxf2.rnc

default namespace = "http://dhis2.org/ns/schema/dxf2"

# dxf2.rng - is "the source"
# dxf2.rnc and dxf.xsd are derived using jing
# 
# TODO:
# add missing elements

# These are toplevel elements of dxf format
start =
  element dxf {
    # Metadata section
    # This is a rough grouping of the sections
    # as they appear in the file.
    # Currently each section is optional.
    element metadata {
      CategoryDimensions?,
      DataElementDefinition?,
      IndicatorDefinition?,
      GroupSetDimensions?,
      DataSetDefinition?,
      DataDictionaryDefinition?,
      OrgUnitDefinition?,
      Periods?,
      ReportTableDefinition?,
      completeDataSetRegistrations?
    },
    # DataValues
    element dataValues { dataValues }?
  }
# 
# Each of the MetaData groups is a sequence of elements
#
DataDictionaryDefinition = dataDictionaries
CategoryDimensions = categories, categoryCombos, categoryOptionCombos
DataElementDefinition = dataElements
IndicatorDefinition = indicatorTypes, indicators
GroupSetDimensions = dataElementGroupSets, indicatorGroupSets
DataSetDefinition = dataSets
OrgUnitDefinition =
  element orgUnitStructure {
    organisationUnitLevels,
    organisationUnits,
    organisationUnitGroups,
    organisationGroupSets
  }
ReportTableDefinition =
  reportTables,
  reportTableDataElements,
  reportTableCategoryOptionCombos,
  reportTableIndicators,
  reportTableDataSets,
  reportTablePeriods,
  reportTableOrganisationUnits
# dxf2 ids
dxfID = xsd:int
# dxf2 idrefs
dxfIDRef = xsd:int
# common base for identifiable objects
identifiableObject =
  attribute id { dxfID },
  element uuid { text },
  element name { text },
  element alternativename { text },
  element shortname { text },
  element code { text },
  element description { text }
# 
# The ugly detail of each element follows ...
# 
#

# MultiDimensionalElements
categories =
  element categories {
    element category {
      identifiableObject,
      element categoryOptions {
        element categoryOption { identifiableObject }+
      }
    }+
  }
categoryCombos = element categoryCombos { categoryCombo+ }
categoryCombo =
  element categoryCombo {
    attribute id { dxfID },
    element name { text },
    element categoryRefs {
      element categoryRef {
        attribute ref { dxfIDRef }
      }*
    }
  }
categoryOptionCombos =
  element categoryOptionCombos {
    element categoryOptionCombo {
      identifiableObject,
      attribute categoryComboRef { dxfIDRef },
      element categoryOptionRef {
        attribute ref { dxfIDRef }
      }*
    }*
  }
dataElementGroupSets =
  element dataElementGroupSets {
    element dataElementGroupSet {
      identifiableObject,
      element Groups {
        element dataElementGroup {
          identifiableObject,
          element dataElementRef {
            attribute ref { dxfIDRef }
          }*
        }*
      }
    }*
  }
indicatorGroupSets =
  element indicatorGroupSets {
    element indicatorGroupSet {
      identifiableObject,
      element Groups {
        element indicatorGroup {
          identifiableObject,
          element indicatorRef {
            attribute ref { dxfIDRef }
          }*
        }*
      }
    }*
  }
# DataElementDefinition
dataElements = element dataElements { dataElement* }
dataElement =
  element dataElement {
    attribute categoryComboRef { dxfIDRef },
    identifiableObject,
    element active { text },
    element type { text },
    element aggregationOperator { text }
  }
# IndicatorDefinition
indicatorTypes =
  element indicatorTypes {
    element indicatorType {
      attribute id { dxfID },
      element name { text },
      element factor { xsd:integer }
    }*
  }
indicators =
  element indicators {
    element indicator {
      identifiableObject,
      element annualized { text },
      attribute indicatorTypeRef { dxfIDRef },
      element numerator { text },
      element numeratorDescription { text },
      element numeratorAggregationOperator { text },
      element denominator { text },
      element denominatorDescription { text },
      element denominatorAggregationOperator { text }
    }*
  }
# Data Dictionary Definition
dataDictionaries =
  element dataDictionaries {
    element dataDictionary {
      attribute id { dxfID },
      element name { text },
      element description { text },
      element region { text },
      element dataElements {
        element dataElementRef {
          attribute ref { dxfIDRef }
        }*
      }
    }*
  }
# DataSet Definition
dataSets =
  element dataSets {
    element dataSet {
      attribute id { dxfID },
      element name { text },
      element shortName { text },
      element code { text },
      element periodType { text },
      element dataElements {
        element dataElementRef {
          attribute ref { dxfIDRef }
        }*
      }
    }*
  }
# Organisation Unit Definition
organisationGroupSets =
  element groupSets {
    element groupSet {
      attribute id { dxfID },
      element name { text },
      element description { text },
      element compulsory { "true" | "false" },
      element exclusive { "true" | "false" },
      element groups {
        element groupRef {
          attribute ref { dxfIDRef }
        }*
      }
    }*
  }
organisationUnitGroups =
  element organisationUnitGroups {
    element organisationUnitGroup {
      attribute id { dxfID },
      element uuid { text },
      element name { text },
      element orgUnits {
        element orgUnitRef {
          attribute ref { dxfIDRef }
        }*
      }
    }*
  }
organisationUnits = element organisationUnits { organisationUnit* }
organisationUnit =
  element organisationUnit {
    identifiableObject,
    # <element name="openingDate"><data type="date"/></element>
    element dataSets {
      element dataSetRef {
        attribute ref { dxfIDRef }
      }*
    }?,
    element openingDate { xsd:date }?,
    element closedDate { xsd:date }?,
    element active { xsd:boolean }?,
    element comment { text }?,
    element geoCode { text }?,
    element polygonCoordinates { text }?,
    element latitude { text }?,
    element longitude { text }?,
    element url { text }?,
    element lastUpdated {
      # TODO: accept Date or nothing
      
      #         <data type="date"/>
      xsd:date
    }?,
    #         An organisation unit is part of a hierarchical tree
    element children { organisationUnit* }
  }
organisationUnitLevels =
  element organisationUnitLevels {
    element organisationUnitLevel {
      attribute id { dxfID },
      element level { xsd:integer },
      element name { text }
    }*
  }
# Periods
Periods =
  element periods {
    element period {
      attribute id { dxfID },
      element periodType { text },
      element startDate { xsd:date },
      element endDate { xsd:date }
    }*
  }
# ReportTable Definition
reportTables =
  element reportTables {
    element reportTable {
      attribute id { dxfID },
      element name { text },
      element tableName { text },
      element existingTableName { text },
      element mode { text },
      element regression { "true" | "false" },
      element doIndicators { "true" | "false" },
      element doCategoryOptionCombos { "true" | "false" },
      element doPeriods { "true" | "false" },
      element doOrganisationUnits { "true" | "false" },
      element reportingMonth { "true" | "false" },
      element last3Months { "true" | "false" },
      element last6Months { "true" | "false" },
      element last9Months { "true" | "false" },
      element last12Months { "true" | "false" },
      element soFarThisYear { "true" | "false" },
      element soFarThisFinancialYear { "true" | "false" },
      element last3To6Months { "true" | "false" },
      element last6To9Months { "true" | "false" },
      element last9To12Months { "true" | "false" },
      element last12IndividualMonths { "true" | "false" },
      element individualMonthsThisYear { "true" | "false" },
      element individualQuartersThisYear { "true" | "false" },
      element paramReportingMonth { "true" | "false" },
      element paramParentOrganisationUnit { "true" | "false" },
      element paramOrganisationUnit { "true" | "false" },
      element dataelements {
        element dataelement {
          attribute id { dxfID }
        }*
      }
    }*
  }
reportTableDataElements =
  element reportTableDataElements {
    # TODO: check for proper children
    element reportTableDataElement {
      attribute reportTableRef { dxfIDRef },
      attribute dataElementRef { dxfIDRef },
      attribute sortOrder { xsd:integer }
    }
  }
# ReportTableCategoryOptionCombos
reportTableCategoryOptionCombos =
  element reportTableCategoryOptionCombos {
    # TODO: check for proper children
    element TODO { xsd:integer }?
  }
# ReportTableIndicators
reportTableIndicators =
  element reportTableIndicators {
    element reportTableIndicator {
      element reportTable { xsd:integer },
      element indicator { xsd:integer },
      element sortOrder { xsd:integer }
    }*
  }
# ReportTableDataSets
reportTableDataSets =
  element reportTableDataSets {
    element reportTableDataSet {
      element reportTable { xsd:integer },
      element dataSet { xsd:integer },
      element sortOrder { xsd:integer }
    }*
  }
# ReportTablePeriods
reportTablePeriods =
  element reportTablePeriods {
    # TODO: check for proper children
    element ReportTablePeriod {
      attribute periodRef { dxfIDRef },
      attribute sortOrder { xsd:integer }
    }*
  }
# ReportTableOrganisationUnits
reportTableOrganisationUnits =
  element reportTableOrganisationUnits {
    element reportTableOrganisationUnit {
      element reportTable { xsd:integer },
      element organisationUnit { xsd:integer },
      element sortOrder { xsd:integer }
    }*
  }
# TODO: What are these?
completeDataSetRegistrations =
  element completeDataSetRegistrations {
    # TODO: check completeDataSetRegistrations
    element completeDataSetRegistrationPeriod {
      attribute periodRef { dxfIDRef },
      attribute sortOrder { xsd:integer }
    }*
  }
# DataValue Section
dataValues =
  element dataValue {
    attribute dataElement { dxfIDRef },
    attribute period { dxfIDRef },
    attribute source { dxfIDRef },
    attribute value { text },
    attribute storedBy { text }?,
    attribute timeStamp { text }?,
    attribute comment { text }?,
    attribute categoryOptionCombo { dxfIDRef }
  }*
