src/schemas/dxf_v2_schema/dxf2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://dhis2.org/ns/schema/dxf2" xmlns:dxf2="http://dhis2.org/ns/schema/dxf2">
  <!--
    dxf2.rng - is "the source"
    dxf2.rnc and dxf.xsd are derived using jing
    
    TODO:
    ns="http://www.dhis2.org/schema/dxf" >
  -->
  <!-- These are toplevel elements of dxf format -->
  <xs:element name="dxf">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:metadata"/>
        <xs:element minOccurs="0" ref="dxf2:dataValues"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:group minOccurs="0" ref="dxf2:MultiDimensionalElements"/>
        <xs:group minOccurs="0" ref="dxf2:DataElementDefinition"/>
        <xs:group minOccurs="0" ref="dxf2:IndicatorDefinition"/>
        <xs:group minOccurs="0" ref="dxf2:DataDictionaryDefinition"/>
        <xs:group minOccurs="0" ref="dxf2:DataSetDefinition"/>
        <xs:group minOccurs="0" ref="dxf2:OrgUnitDefinition"/>
        <xs:element minOccurs="0" ref="dxf2:periods"/>
        <xs:group minOccurs="0" ref="dxf2:ReportTableDefinition"/>
        <xs:element minOccurs="0" ref="dxf2:completeDataSetRegistrations"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--
    
    Each of the MetaData groups is a sequence of elements
    
    
  -->
  <xs:group name="MultiDimensionalElements">
    <xs:sequence>
      <xs:element ref="dxf2:categories"/>
      <xs:element ref="dxf2:categoryCombos"/>
      <xs:element ref="dxf2:categoryOptionCombos"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="DataElementDefinition">
    <xs:sequence>
      <xs:element ref="dxf2:dataElements"/>
      <xs:element ref="dxf2:dataElementGroupSets"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="IndicatorDefinition">
    <xs:sequence>
      <xs:element ref="dxf2:indicatorTypes"/>
      <xs:element ref="dxf2:indicators"/>
      <xs:element ref="dxf2:IndicatorGroupSets"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="DataDictionaryDefinition">
    <xs:sequence>
      <xs:element ref="dxf2:dataDictionaries"/>
      <xs:element ref="dxf2:dataDictionaryDataElements"/>
      <xs:element ref="dxf2:dataDictionaryIndicators"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="DataSetDefinition">
    <xs:sequence>
      <xs:element ref="dxf2:dataSets"/>
      <xs:element ref="dxf2:dataSetMembers"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="OrgUnitDefinition">
    <xs:sequence>
      <xs:element ref="dxf2:organisationUnits"/>
      <xs:element ref="dxf2:organisationUnitRelationships"/>
      <xs:element ref="dxf2:organisationUnitGroups"/>
      <xs:element ref="dxf2:organisationUnitGroupMembers"/>
      <xs:element ref="dxf2:groupSets"/>
      <xs:element ref="dxf2:groupSetMembers"/>
      <xs:element ref="dxf2:organisationUnitLevels"/>
      <xs:element ref="dxf2:dataSetSourceAssociations"/>
    </xs:sequence>
  </xs:group>
  <xs:group name="ReportTableDefinition">
    <xs:sequence>
      <xs:element ref="dxf2:reportTables"/>
      <xs:element ref="dxf2:reportTableDataElements"/>
      <xs:element ref="dxf2:reportTableCategoryOptionCombos"/>
      <xs:element ref="dxf2:reportTableIndicators"/>
      <xs:element ref="dxf2:reportTableDataSets"/>
      <xs:element ref="dxf2:reportTablePeriods"/>
      <xs:element ref="dxf2:reportTableOrganisationUnits"/>
    </xs:sequence>
  </xs:group>
  <!-- common base for identifiable objects -->
  <xs:complexType name="identifiableObject">
    <xs:sequence>
      <xs:element ref="dxf2:id"/>
      <xs:element ref="dxf2:uuid"/>
      <xs:element ref="dxf2:name"/>
      <xs:element ref="dxf2:alternativename"/>
      <xs:element ref="dxf2:shortname"/>
      <xs:element ref="dxf2:code"/>
      <xs:element ref="dxf2:description"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="id" type="xs:integer"/>
  <xs:element name="uuid" type="xs:string"/>
  <xs:element name="name" type="xs:string"/>
  <xs:element name="alternativename" type="xs:string"/>
  <xs:element name="shortname" type="xs:string"/>
  <xs:element name="code" type="xs:string"/>
  <xs:element name="description" type="xs:string"/>
  <!--
    
    The ugly detail of each element follows ...
    
    
  -->
  <!-- MultiDimensionalElements -->
  <xs:element name="categories">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="dxf2:category"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="category">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="dxf2:categoryOption"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="categoryOption" type="dxf2:identifiableObject"/>
  <xs:element name="categoryCombos">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="dxf2:categoryCombo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="categoryCombo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:id"/>
        <xs:element ref="dxf2:name"/>
        <xs:element name="categories">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:categoryId"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="categoryId" type="xs:integer"/>
  <xs:element name="categoryOptionCombos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:categoryOptionCombo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="categoryOptionCombo">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element ref="dxf2:categoryComboId"/>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:categoryOptionId"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="categoryComboId" type="xs:integer"/>
  <xs:element name="categoryOptionId" type="xs:integer"/>
  <!-- DataElementDefinition -->
  <xs:element name="dataElements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataElement"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataElement">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element ref="dxf2:active"/>
            <xs:element ref="dxf2:type"/>
            <xs:element ref="dxf2:aggregationOperator"/>
            <xs:element name="categoryCombo" type="xs:integer"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="active" type="xs:string"/>
  <xs:element name="type" type="xs:string"/>
  <xs:element name="aggregationOperator" type="xs:string"/>
  <xs:element name="dataElementGroupSets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataElementGroupSet"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataElementGroupSet">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="dxf2:dataElementGroup"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataElementGroup">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="dxf2:dataElementId"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataElementId" type="xs:integer"/>
  <!-- IndicatorDefinition -->
  <xs:element name="indicatorTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="indicatorType">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dxf2:id"/>
              <xs:element ref="dxf2:name"/>
              <xs:element ref="dxf2:factor"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="factor" type="xs:integer"/>
  <xs:element name="indicators">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="indicator">
          <xs:complexType>
            <xs:complexContent>
              <xs:extension base="dxf2:identifiableObject">
                <xs:sequence>
                  <xs:element ref="dxf2:annualized"/>
                  <xs:element name="indicatorType" type="xs:integer"/>
                  <xs:element ref="dxf2:numerator"/>
                  <xs:element ref="dxf2:numeratorDescription"/>
                  <xs:element ref="dxf2:numeratorAggregationOperator"/>
                  <xs:element ref="dxf2:denominator"/>
                  <xs:element ref="dxf2:denominatorDescription"/>
                  <xs:element ref="dxf2:denominatorAggregationOperator"/>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="annualized" type="xs:string"/>
  <xs:element name="numerator" type="xs:string"/>
  <xs:element name="numeratorDescription" type="xs:string"/>
  <xs:element name="numeratorAggregationOperator" type="xs:string"/>
  <xs:element name="denominator" type="xs:string"/>
  <xs:element name="denominatorDescription" type="xs:string"/>
  <xs:element name="denominatorAggregationOperator" type="xs:string"/>
  <xs:element name="IndicatorGroupSets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:IndicatorGroupSet"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndicatorGroupSet">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element maxOccurs="unbounded" ref="dxf2:IndicatorGroup"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndicatorGroup">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="dxf2:identifiableObject">
          <xs:sequence>
            <xs:element ref="dxf2:IndicatorId"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndicatorId" type="xs:integer"/>
  <!-- Data Dictionary Definition -->
  <xs:element name="dataDictionaries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="dataDictionary">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dxf2:id"/>
              <xs:element ref="dxf2:name"/>
              <xs:element ref="dxf2:description"/>
              <xs:element ref="dxf2:region"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="region" type="xs:string"/>
  <xs:element name="dataDictionaryDataElements">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataDictionaryDataElement"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataDictionaryDataElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dataDictionary" type="xs:integer"/>
        <xs:element name="dataElement" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataDictionaryIndicators">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataDictionaryIndicator"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataDictionaryIndicator">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dataDictionary" type="xs:integer"/>
        <xs:element name="indicator" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- DataSet Definition -->
  <xs:element name="dataSets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="dataSet">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dxf2:id"/>
              <xs:element ref="dxf2:name"/>
              <xs:element ref="dxf2:shortName"/>
              <xs:element ref="dxf2:code"/>
              <xs:element ref="dxf2:periodType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="shortName" type="xs:string"/>
  <xs:element name="periodType" type="xs:string"/>
  <xs:element name="dataSetMembers">
    <xs:complexType>
      <xs:group ref="dxf2:anyElements"/>
    </xs:complexType>
  </xs:element>
  <!-- Organisation Unit Definition -->
  <xs:element name="organisationUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:organisationUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="organisationUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:id"/>
        <xs:element ref="dxf2:uuid"/>
        <xs:element ref="dxf2:name"/>
        <xs:element ref="dxf2:shortName"/>
        <xs:element ref="dxf2:code"/>
        <xs:element ref="dxf2:openingDate"/>
        <xs:element ref="dxf2:closedDate"/>
        <xs:element ref="dxf2:active"/>
        <xs:element ref="dxf2:comment"/>
        <xs:element ref="dxf2:geoCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="openingDate" type="xs:string"/>
  <xs:element name="closedDate" type="xs:string"/>
  <xs:element name="comment" type="xs:string"/>
  <xs:element name="geoCode" type="xs:string"/>
  <xs:element name="organisationUnitRelationships">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:organisationUnitRelationship"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="organisationUnitRelationship">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:parent"/>
        <xs:element ref="dxf2:child"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="parent" type="xs:integer"/>
  <xs:element name="child" type="xs:integer"/>
  <xs:element name="organisationUnitGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="organisationUnitGroup">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dxf2:id"/>
              <xs:element ref="dxf2:uuid"/>
              <xs:element ref="dxf2:name"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="organisationUnitGroupMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:organisationUnitGroupMember"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="organisationUnitGroupMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="organisationUnitGroup" type="xs:integer"/>
        <xs:element name="organisationUnit" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="groupSets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="groupSet">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dxf2:id"/>
              <xs:element ref="dxf2:name"/>
              <xs:element ref="dxf2:description"/>
              <xs:element ref="dxf2:compulsory"/>
              <xs:element ref="dxf2:exclusive"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="compulsory">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="exclusive">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="groupSetMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:groupSetMember"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="groupSetMember">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="groupSet" type="xs:integer"/>
        <xs:element name="organisationUnitGroup" type="xs:integer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="organisationUnitLevels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:organisationUnitLevel"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="organisationUnitLevel">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:id"/>
        <xs:element ref="dxf2:level"/>
        <xs:element ref="dxf2:name"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="level" type="xs:integer"/>
  <xs:element name="dataSetSourceAssociations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataSetSourceAssociation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataSetSourceAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dataSet" type="xs:integer"/>
        <xs:element ref="dxf2:source"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="source" type="xs:integer"/>
  <!-- Periods -->
  <xs:element name="periods">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:period"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="period">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dxf2:id"/>
        <xs:element ref="dxf2:periodType"/>
        <xs:element ref="dxf2:startDate"/>
        <xs:element ref="dxf2:endDate"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="startDate" type="xs:date"/>
  <xs:element name="endDate" type="xs:date"/>
  <!-- ReportTable Definition -->
  <xs:element name="reportTables">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="reportTable">
          <xs:complexType>
            <xs:sequence>
              <xs:element ref="dxf2:id"/>
              <xs:element ref="dxf2:name"/>
              <xs:element ref="dxf2:tableName"/>
              <xs:element ref="dxf2:existingTableName"/>
              <xs:element ref="dxf2:mode"/>
              <xs:element ref="dxf2:regression"/>
              <xs:element ref="dxf2:doIndicators"/>
              <xs:element ref="dxf2:doCategoryOptionCombos"/>
              <xs:element ref="dxf2:doPeriods"/>
              <xs:element ref="dxf2:doOrganisationUnits"/>
              <xs:element ref="dxf2:reportingMonth"/>
              <xs:element ref="dxf2:last3Months"/>
              <xs:element ref="dxf2:last6Months"/>
              <xs:element ref="dxf2:last9Months"/>
              <xs:element ref="dxf2:last12Months"/>
              <xs:element ref="dxf2:soFarThisYear"/>
              <xs:element ref="dxf2:soFarThisFinancialYear"/>
              <xs:element ref="dxf2:last3To6Months"/>
              <xs:element ref="dxf2:last6To9Months"/>
              <xs:element ref="dxf2:last9To12Months"/>
              <xs:element ref="dxf2:last12IndividualMonths"/>
              <xs:element ref="dxf2:individualMonthsThisYear"/>
              <xs:element ref="dxf2:individualQuartersThisYear"/>
              <xs:element ref="dxf2:paramReportingMonth"/>
              <xs:element ref="dxf2:paramParentOrganisationUnit"/>
              <xs:element ref="dxf2:paramOrganisationUnit"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tableName" type="xs:string"/>
  <xs:element name="existingTableName" type="xs:string"/>
  <xs:element name="mode" type="xs:string"/>
  <xs:element name="regression">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="doIndicators">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="doCategoryOptionCombos">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="doPeriods">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="doOrganisationUnits">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="reportingMonth">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last3Months">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last6Months">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last9Months">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last12Months">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="soFarThisYear">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="soFarThisFinancialYear">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last3To6Months">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last6To9Months">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last9To12Months">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="last12IndividualMonths">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="individualMonthsThisYear">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="individualQuartersThisYear">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="paramReportingMonth">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="paramParentOrganisationUnit">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="paramOrganisationUnit">
    <xs:simpleType>
      <xs:restriction base="xs:token">
        <xs:enumeration value="true"/>
        <xs:enumeration value="false"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="reportTableDataElements">
    <xs:complexType>
      <xs:group ref="dxf2:anyElements"/>
    </xs:complexType>
  </xs:element>
  <!-- ReportTableCategoryOptionCombos -->
  <xs:element name="reportTableCategoryOptionCombos">
    <xs:complexType>
      <xs:group ref="dxf2:anyElements"/>
    </xs:complexType>
  </xs:element>
  <!-- ReportTableIndicators -->
  <xs:element name="reportTableIndicators">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:reportTableIndicator"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportTableIndicator">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reportTable" type="xs:integer"/>
        <xs:element name="indicator" type="xs:integer"/>
        <xs:element ref="dxf2:sortOrder"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sortOrder" type="xs:integer"/>
  <!-- ReportTableDataSets -->
  <xs:element name="reportTableDataSets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:reportTableDataSet"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportTableDataSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reportTable" type="xs:integer"/>
        <xs:element name="dataSet" type="xs:integer"/>
        <xs:element ref="dxf2:sortOrder"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- ReportTablePeriods -->
  <xs:element name="reportTablePeriods">
    <xs:complexType>
      <xs:group ref="dxf2:anyElements"/>
    </xs:complexType>
  </xs:element>
  <!-- ReportTableOrganisationUnits -->
  <xs:element name="reportTableOrganisationUnits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:reportTableOrganisationUnit"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="reportTableOrganisationUnit">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="reportTable" type="xs:integer"/>
        <xs:element name="organisationUnit" type="xs:integer"/>
        <xs:element ref="dxf2:sortOrder"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!-- TODO: What are these? -->
  <xs:element name="completeDataSetRegistrations">
    <xs:complexType>
      <xs:group ref="dxf2:anyElements"/>
    </xs:complexType>
  </xs:element>
  <!-- DataValue Section -->
  <xs:element name="dataValues">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="dxf2:dataValue"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dataValue">
    <xs:complexType>
      <xs:attribute name="dataElement" use="required" type="xs:integer"/>
      <xs:attribute name="period" use="required" type="xs:integer"/>
      <xs:attribute name="source" use="required" type="xs:integer"/>
      <xs:attribute name="value" use="required"/>
      <xs:attribute name="storedBy" type="xs:integer"/>
      <xs:attribute name="timeStamp"/>
      <xs:attribute name="comment"/>
      <xs:attribute name="categoryOptionCombo" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <!-- Convenience (from odf spec) for filling in the "dark spots" -->
  <xs:group name="anyAttListOrElements">
    <xs:sequence>
      <xs:group ref="dxf2:anyElements"/>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="anyAttListOrElements">
    <xs:anyAttribute processContents="skip"/>
  </xs:attributeGroup>
  <xs:group name="anyElements">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
    </xs:sequence>
  </xs:group>
</xs:schema>
