src/schemas/dxf_v2_schema/dxf2.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    dxf2.rng - is "the source"
    dxf2.rnc and dxf.xsd are derived using jing
    
    TODO:
    add missing elements
  -->
  <!-- These are toplevel elements of dxf format -->
  
  <start>
    <element name="dxf" ns="http://dhis2.org/ns/schema/dxf2">

      <!--
        Metadata section
        This is a rough grouping of the sections
        as they appear in the file.
        Currently each section is optional.
      -->
      
      <element name="metadata">

        <optional>
          <ref name="CategoryDimensions"/>
        </optional>

        <optional>
          <ref name="DataElementDefinition"/>
        </optional>
        <optional>
          <ref name="IndicatorDefinition"/>
        </optional>

        <optional>
          <ref name="GroupSetDimensions"/>
        </optional>
        
        <optional>
          <ref name="DataSetDefinition"/>
        </optional>

        <optional>
          <ref name="DataDictionaryDefinition"/>
        </optional>
        
        <optional>
          <ref name="OrgUnitDefinition"/>
        </optional>
                
        <optional>
          <ref name="Periods"/>
        </optional>
        <optional>
          <ref name="ReportTableDefinition"/>
        </optional>
        <optional>
          <ref name="completeDataSetRegistrations"/>
        </optional>
      </element>

      <!-- DataValues -->
      <optional>
        <element name="dataValues" ns="http://dhis2.org/ns/schema/dxf2">
          <ref name="dataValues"/>
        </element>
      </optional>
    </element>
  </start>

  <!--
    
    Each of the MetaData groups is a sequence of elements
    
  -->
  <define name="DataDictionaryDefinition">
    <ref name="dataDictionaries"/>
  </define>
  
  <define name="CategoryDimensions">
    <ref name="categories"/>
    <ref name="categoryCombos"/>
    <ref name="categoryOptionCombos"/>
  </define>

  <define name="DataElementDefinition">
    <ref name="dataElements"/>
  </define>

  <define name="IndicatorDefinition">
    <ref name="indicatorTypes"/>
    <ref name="indicators"/>
  </define>

  <define name="GroupSetDimensions">
    <ref name="dataElementGroupSets"/>
    <ref name="indicatorGroupSets"/>
  </define>
  
  <define name="DataSetDefinition">
    <ref name="dataSets"/>
  </define>
  <define name="OrgUnitDefinition">
    <element name="orgUnitStructure" ns="http://dhis2.org/ns/schema/dxf2">
      <ref name="organisationUnitLevels"/>
      <ref name="organisationUnits"/>
      <ref name="organisationUnitGroups"/>
      <ref name="organisationGroupSets"/>
    </element>
  </define>
  <define name="ReportTableDefinition">
    <ref name="reportTables"/>
    <ref name="reportTableDataElements"/>
    <ref name="reportTableCategoryOptionCombos"/>
    <ref name="reportTableIndicators"/>
    <ref name="reportTableDataSets"/>
    <ref name="reportTablePeriods"/>
    <ref name="reportTableOrganisationUnits"/>
  </define>


  <!-- dxf2 ids -->
  <define name="dxfID" ns="http://dhis2.org/ns/schema/dxf2">
    <data type="int"/>
  </define>
  
  <!-- dxf2 idrefs -->
  <define name="dxfIDRef" ns="http://dhis2.org/ns/schema/dxf2">
    <data type="int"/>
  </define>
  
  <!-- common base for identifiable objects -->
  <define name="identifiableObject" ns="http://dhis2.org/ns/schema/dxf2">
    <attribute name="id">
      <ref name="dxfID"/>
    </attribute>
    <element name="uuid">
      <text/>
    </element>
    <element name="name">
      <text/>
    </element>
    <element name="alternativename">
      <text/>
    </element>
    <element name="shortname">
      <text/>
    </element>
    <element name="code">
      <text/>
    </element>
    <element name="description">
      <text/>
    </element>
  </define>

  <!--
    
    The ugly detail of each element follows ...
    
    
  -->
  <!-- MultiDimensionalElements -->
  <define name="categories">
    <element name="categories" ns="http://dhis2.org/ns/schema/dxf2">
      <oneOrMore>
        <element name="category">
          <ref name="identifiableObject"/>
          <element name="categoryOptions">
            <oneOrMore>
              <element name="categoryOption">
                <ref name="identifiableObject"/>
              </element>
            </oneOrMore>
          </element>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="categoryCombos">
    <element name="categoryCombos" ns="http://dhis2.org/ns/schema/dxf2">
      <oneOrMore>
        <ref name="categoryCombo"/>
      </oneOrMore>
    </element>
  </define>

  <define name="categoryCombo">
    <element name="categoryCombo" ns="http://dhis2.org/ns/schema/dxf2">
      <attribute name="id">
        <ref name="dxfID"/>
      </attribute>
      <element name="name">
        <text/>
      </element>
      <element name="categories">
        <zeroOrMore>
          <element name="categoryId">
            <data type="integer"/>
          </element>
        </zeroOrMore>
      </element>
    </element>
  </define>

  <define name="categoryOptionCombos">
    <element name="categoryOptionCombos" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="categoryOptionCombo">
          <ref name="identifiableObject"/>
          <attribute name="categoryComboRef">
            <ref name="dxfIDRef"/>
          </attribute>
          <zeroOrMore>
            <element name="categoryoption">
              <attribute name="ref">
                <ref name="dxfIDRef"/>
              </attribute>
            </element>
          </zeroOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <define name="dataElementGroupSets">
    <element name="dataElementGroupSets" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="dataElementGroupSet">
          <ref name="identifiableObject"/>
          <element name="Groups">
            <zeroOrMore>
              <element name="dataElementGroup">
                <ref name="identifiableObject"/>
                <zeroOrMore>
                  <element name="dataElement">
                    <attribute name="ref">
                      <ref name="dxfIDRef"/>
                    </attribute>
                  </element>
                </zeroOrMore>
              </element>
            </zeroOrMore>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="indicatorGroupSets">
    <element name="indicatorGroupSets" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="indicatorGroupSet">
          <ref name="identifiableObject"/>
          <element name="Groups">
            <zeroOrMore>
              <element name="indicatorGroup">
                <ref name="identifiableObject"/>
                <zeroOrMore>
                  <element name="indicator">
                    <attribute name="ref">
                      <ref name="dxfIDRef"/>
                    </attribute>
                  </element>
                </zeroOrMore>
              </element>
            </zeroOrMore>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  <!-- DataElementDefinition -->
  <define name="dataElements">
    <element name="dataElements" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <ref name="dataElement"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="dataElement">
    <element name="dataElement" ns="http://dhis2.org/ns/schema/dxf2">
      <attribute name="categoryComboRef">
        <ref name="dxfIDRef"/>
      </attribute>
      <ref name="identifiableObject"/>
      <element name="active">
        <text/>
      </element>
      <element name="type">
        <text/>
      </element>
      <element name="aggregationOperator">
        <text/>
      </element>
    </element>
  </define>

  <!-- IndicatorDefinition -->
  <define name="indicatorTypes">
    <element name="indicatorTypes" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="indicatorType">
          <attribute name="id">
            <ref name="dxfID"/>
          </attribute>
          <element name="name">
            <text/>
          </element>
          <element name="factor">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="indicators">
    <element name="indicators" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="indicator">
          <ref name="identifiableObject"/>
          <element name="annualized">
            <text/>
          </element>
          <attribute name="indicatorType">
            <ref name="dxfIDRef"/>
          </attribute>
          <element name="numerator">
            <text/>
          </element>
          <element name="numeratorDescription">
            <text/>
          </element>
          <element name="numeratorAggregationOperator">
            <text/>
          </element>
          <element name="denominator">
            <text/>
          </element>
          <element name="denominatorDescription">
            <text/>
          </element>
          <element name="denominatorAggregationOperator">
            <text/>
          </element>
          <element name="dataDictionaries">
            <zeroOrMore>
              <element name="datadictionary">
                <attribute name="ref">
                  <ref name="dxfIDRef"/>
                </attribute>
              </element>
            </zeroOrMore>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  <!-- Data Dictionary Definition -->
  <define name="dataDictionaries">
    <element name="dataDictionaries" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="dataDictionary">
          <attribute name="id">
            <ref name="dxfID"/>
          </attribute>
          <element name="name">
            <text/>
          </element>
          <element name="description">
            <text/>
          </element>
          <element name="region">
            <text/>
          </element>
          <element name="dataelements">
            <zeroOrMore>
              <element name="dataelementid">
                <data type="integer"/>
              </element>
            </zeroOrMore>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  <!-- DataSet Definition -->
  <define name="dataSets">
    <element name="dataSets" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="dataSet">
          <attribute name="id">
            <ref name="dxfID"/>
          </attribute>
          <element name="name">
            <text/>
          </element>
          <element name="shortName">
            <text/>
          </element>
          <element name="code">
            <text/>
          </element>
          <element name="periodType">
            <text/>
          </element>
          <element name="dataelements">
            <zeroOrMore>
              <element name="dataelement">
                <attribute name="ref">
                  <ref name="dxfIDRef"/>
                </attribute>
              </element>
            </zeroOrMore>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  
    <!-- Organisation Unit Definition -->
  <define name="organisationGroupSets">
    <element name="groupSets" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="groupSet">
          <attribute name="id">
            <ref name="dxfID"/>
          </attribute>
          <element name="name">
            <text/>
          </element>
          <element name="description">
            <text/>
          </element>
          <element name="compulsory">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="exclusive">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="groups">
            <zeroOrMore>
              <element name="group">
                <attribute name="ref">
                  <ref name="dxfIDRef"/>
                </attribute>
              </element>
            </zeroOrMore>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="organisationUnitGroups">
    <element name="organisationUnitGroups" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="organisationUnitGroup">
          <attribute name="id">
            <ref name="dxfID"/>
          </attribute>
          <element name="uuid">
            <text/>
          </element>
          <element name="name">
            <text/>
          </element>
          <element name="orgUnits">
            <zeroOrMore>
              <element name="orgUnit">
                <attribute name="ref">
                  <ref name="dxfIDRef"/>
                </attribute>
              </element>
            </zeroOrMore>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="organisationUnits">
    <element name="organisationUnits" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <ref name="organisationUnit"/>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="organisationUnit">
    <element name="organisationUnit" ns="http://dhis2.org/ns/schema/dxf2">
      <ref name="identifiableObject"/>
      <!-- <element name="openingDate"><data type="date"/></element> -->
      <element name="dataSets">
        <zeroOrMore>
          <element name="dataSet">
            <attribute name="ref">
              <ref name="dxfIDRef"/>
            </attribute>
          </element>
        </zeroOrMore>
      </element>
      <element name="openingDate">
        <!-- TODO: accept Date or nothing -->
        <!--        <data type="date"/>-->
        <text/>
      </element>
      <element name="closedDate">
        <!-- TODO: accept Date or nothing -->
        <!--        <data type="date"/>-->
        <text/>
      </element>
      <element name="active">
        <text/>
      </element>
      <element name="comment">
        <text/>
      </element>
      <element name="geoCode">
        <text/>
      </element>
      <element name="polygonCoordinates">
        <text/>
      </element>
      <element name="latitude">
        <text/>
      </element>
      <element name="longitude">
        <text/>
      </element>
      <element name="url">
        <text/>
      </element>
      <element name="lastUpdated">
        <!-- TODO: accept Date or nothing -->
        <!--        <data type="date"/>-->
        <text/>
      </element>

      <!--        An organisation unit is part of a hierarchical tree-->
      <element name="children">
        <zeroOrMore>
          <ref name="organisationUnit"/>
        </zeroOrMore>
      </element>
    </element>
  </define>
  
  <define name="organisationUnitLevels">
    <element name="organisationUnitLevels" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="organisationUnitLevel">
          <attribute name="id">
            <ref name="dxfID"/>
          </attribute>
          <element name="level">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  <!-- Periods -->
  <define name="Periods">
    <element name="periods" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="period">
          <attribute name="id">
            <ref name="dxfID"/>
          </attribute>
          <element name="periodType">
            <text/>
          </element>
          <element name="startDate">
            <data type="date"/>
          </element>
          <element name="endDate">
            <data type="date"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <!-- ReportTable Definition -->
  <define name="reportTables">
    <element name="reportTables" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="reportTable">
          <attribute name="id">
            <ref name="dxfID"/>
          </attribute>
          <element name="name">
            <text/>
          </element>
          <element name="tableName">
            <text/>
          </element>
          <element name="existingTableName">
            <text/>
          </element>
          <element name="mode">
            <text/>
          </element>
          <element name="regression">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="doIndicators">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="doCategoryOptionCombos">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="doPeriods">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="doOrganisationUnits">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="reportingMonth">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last3Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last6Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last9Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last12Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="soFarThisYear">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="soFarThisFinancialYear">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last3To6Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last6To9Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last9To12Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last12IndividualMonths">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="individualMonthsThisYear">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="individualQuartersThisYear">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="paramReportingMonth">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="paramParentOrganisationUnit">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="paramOrganisationUnit">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          
          <element name="dataelements">
            <zeroOrMore>
              <element name="dataelement">
                <attribute name="id">
                  <ref name="dxfID"/>
                </attribute>
              </element>
            </zeroOrMore>
          </element>
            
          
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  <define name="reportTableDataElements">
    <element name="reportTableDataElements" ns="http://dhis2.org/ns/schema/dxf2">
      <!-- TODO: check for proper children -->
      <element name="reportTableDataElement">
        <attribute name="reportTable">
          <ref name="dxfIDRef"/>
        </attribute>
        <attribute name="dataElement">
          <ref name="dxfIDRef"/>
        </attribute>
        <attribute name="sortOrder">
          <data type="integer"/>
        </attribute>
      </element>
    </element>
  </define>
  
  <!-- ReportTableCategoryOptionCombos -->
  <define name="reportTableCategoryOptionCombos">
    <element name="reportTableCategoryOptionCombos" ns="http://dhis2.org/ns/schema/dxf2">
      <!-- TODO: check for proper children -->
      <optional>
        <element name="TODO"><data type="integer"></data></element>
      </optional>
    </element>
  </define>
  
  <!-- ReportTableIndicators -->
  <define name="reportTableIndicators">
    <element name="reportTableIndicators" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="reportTableIndicator">
          <element name="reportTable">
            <data type="integer"/>
          </element>
          <element name="indicator">
            <data type="integer"/>
          </element>
          <element name="sortOrder">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  <!-- ReportTableDataSets -->
  <define name="reportTableDataSets">
    <element name="reportTableDataSets" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="reportTableDataSet">
          <element name="reportTable">
            <data type="integer"/>
          </element>
          <element name="dataSet">
            <data type="integer"/>
          </element>
          <element name="sortOrder">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  <!-- ReportTablePeriods -->
  <define name="reportTablePeriods">
    <element name="reportTablePeriods" ns="http://dhis2.org/ns/schema/dxf2">
      <!-- TODO: check for proper children -->
      <zeroOrMore>
      <element name="ReportTablePeriod">
        <attribute name="period"><ref name="dxfIDRef"/></attribute>
        <attribute name="sortOrder"><data type="integer"></data></attribute>
      </element>
      </zeroOrMore>
    </element>
  </define>
  
  <!-- ReportTableOrganisationUnits -->
  <define name="reportTableOrganisationUnits">
    <element name="reportTableOrganisationUnits" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="reportTableOrganisationUnit">
          <element name="reportTable">
            <data type="integer"/>
          </element>
          <element name="organisationUnit">
            <data type="integer"/>
          </element>
          <element name="sortOrder">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  <!-- TODO: What are these? -->
  <define name="completeDataSetRegistrations">
    <element name="completeDataSetRegistrations" ns="http://dhis2.org/ns/schema/dxf2">
      <!-- TODO: check completeDataSetRegistrations -->
      <zeroOrMore>
        <element name="completeDataSetRegistrationPeriod">
          <attribute name="period"><ref name="dxfIDRef"/></attribute>
          <attribute name="sortOrder"><data type="integer"></data></attribute>
        </element>
      </zeroOrMore>
    </element>
  </define>
  
  <!-- DataValue Section -->
  <define name="dataValues">
      <zeroOrMore>
        <element name="dataValue" ns="http://dhis2.org/ns/schema/dxf2">
          <attribute name="dataElement">
            <ref name="dxfIDRef"/>
          </attribute>
          <attribute name="period">
            <ref name="dxfIDRef"/>
          </attribute>
          <attribute name="source">
            <ref name="dxfIDRef"/>
          </attribute>
          <attribute name="value">
            <text/>
          </attribute>
          <optional>
            <attribute name="storedBy">
              <text/>
            </attribute>
          </optional>
          <optional>
            <attribute name="timeStamp">
              <text/>
            </attribute>
          </optional>
          <optional>
            <attribute name="comment">
              <text/>
            </attribute>
          </optional>
          <attribute name="categoryOptionCombo">
            <ref name="dxfIDRef"/>
          </attribute>
        </element>
      </zeroOrMore>
  </define>
  
</grammar>
