src/schemas/dxf_v2_schema/dxf2.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
  datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <!--
    dxf2.rng - is "the source"
    dxf2.rnc and dxf.xsd are derived using jing
    
    TODO:
    ns="http://www.dhis2.org/schema/dxf" >
  -->
  <!-- These are toplevel elements of dxf format -->
  <start>
    <element name="dxf" ns="http://dhis2.org/ns/schema/dxf2">
      <element name="metadata">
        <optional>
          <!--
          Metadata section
          This is a rough grouping of the sections
          as they appear in the file.
          Each section is optional.
        -->
          <ref name="MultiDimensionalElements"/>
        </optional>
        <optional>
          <ref name="DataElementDefinition"/>
        </optional>
        <optional>
          <ref name="IndicatorDefinition"/>
        </optional>
        <optional>
          <ref name="DataDictionaryDefinition"/>
        </optional>
        <optional>
          <ref name="DataSetDefinition"/>
        </optional>
        <optional>
          <ref name="OrgUnitDefinition"/>
        </optional>
        <optional>
          <ref name="periods"/>
        </optional>
        <optional>
          <ref name="ReportTableDefinition"/>
        </optional>
        <optional>
          <ref name="completeDataSetRegistrations"/>
        </optional>
      </element>

      <optional>
        <!-- DataValues -->
        <ref name="dataValues"/>
      </optional>
    </element>
  </start>

  <!--
    
    Each of the MetaData groups is a sequence of elements
    
    
  -->
  <define name="MultiDimensionalElements">
    <ref name="categories"/>
    <ref name="categoryCombos"/>
    <ref name="categoryOptionCombos"/>
  </define>
  <define name="DataElementDefinition">
    <ref name="dataElements"/>
    <ref name="dataElementGroupSets"/>
  </define>
  <define name="IndicatorDefinition">
    <ref name="indicatorTypes"/>
    <ref name="indicators"/>
    <ref name="IndicatorGroupSets"/>
  </define>
  <define name="DataDictionaryDefinition">
    <ref name="dataDictionaries"/>
    <ref name="dataDictionaryDataElements"/>
    <ref name="dataDictionaryIndicators"/>
  </define>
  <define name="DataSetDefinition">
    <ref name="dataSets"/>
    <ref name="dataSetMembers"/>
  </define>
  <define name="OrgUnitDefinition">
    <ref name="organisationUnits"/>
    <ref name="organisationUnitRelationships"/>
    <ref name="organisationUnitGroups"/>
    <ref name="organisationUnitGroupMembers"/>
    <ref name="groupSets"/>
    <ref name="groupSetMembers"/>
    <ref name="organisationUnitLevels"/>
    <ref name="dataSetSourceAssociations"/>
  </define>
  <define name="ReportTableDefinition">
    <ref name="reportTables"/>
    <ref name="reportTableDataElements"/>
    <ref name="reportTableCategoryOptionCombos"/>
    <ref name="reportTableIndicators"/>
    <ref name="reportTableDataSets"/>
    <ref name="reportTablePeriods"/>
    <ref name="reportTableOrganisationUnits"/>
  </define>


  <!-- common base for identifiable objects -->
  <define name="identifiableObject" ns="http://dhis2.org/ns/schema/dxf2">
    <element name="id">
      <data type="integer"></data>
    </element>
    <element name="uuid">
      <text/>
    </element>
    <element name="name">
      <text/>
    </element>
    <element name="alternativename">
      <text/>
    </element>
    <element name="shortname">
      <text/>
    </element>
    <element name="code">
      <text/>
    </element>
    <element name="description">
      <text/>
    </element>
  </define>

  <!--
    
    The ugly detail of each element follows ...
    
    
  -->
  <!-- MultiDimensionalElements -->
  <define name="categories">
    <element name="categories" ns="http://dhis2.org/ns/schema/dxf2">
      <oneOrMore>
        <element name="category">
          <ref name="identifiableObject"/>
          <oneOrMore>
            <element name="categoryOption">
              <ref name="identifiableObject"/>
            </element>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </define>

  <define name="categoryCombos">
    <element name="categoryCombos" ns="http://dhis2.org/ns/schema/dxf2">
      <oneOrMore>
        <ref name="categoryCombo"/>
      </oneOrMore>
    </element>
  </define>

  <define name="categoryCombo">
    <element name="categoryCombo" ns="http://dhis2.org/ns/schema/dxf2">
      <element name="id">
        <data type="integer"/>
      </element>
      <element name="name">
        <text/>
      </element>
      <element name="categories">
        <zeroOrMore>
          <element name="categoryId">
            <data type="integer"/>
          </element>
        </zeroOrMore>
      </element>
    </element>
  </define>

  <define name="categoryOptionCombos">
    <element name="categoryOptionCombos" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="categoryOptionCombo">
          <ref name="identifiableObject"/>
          <element name="categoryComboId">
            <data type="integer"/>
          </element>
          <zeroOrMore>
            <element name="categoryOptionId">
              <data type="integer"/>
            </element>
          </zeroOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <!-- DataElementDefinition -->
  <define name="dataElements">
    <element name="dataElements" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <ref name="dataElement"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="dataElement">
    <element name="dataElement" ns="http://dhis2.org/ns/schema/dxf2">
      <ref name="identifiableObject"/>
      <element name="active">
        <text/>
      </element>
      <element name="type">
        <text/>
      </element>
      <element name="aggregationOperator">
        <text/>
      </element>
      <element name="categoryCombo">
        <data type="integer"/>
      </element>
    </element>
  </define>

  <define name="dataElementGroupSets">
    <element name="dataElementGroupSets" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="dataElementGroupSet">
          <ref name="identifiableObject"/>
          <oneOrMore>
            <element name="dataElementGroup">
              <ref name="identifiableObject"/>
              <oneOrMore>
                <element name="dataElementId">
                  <data type="integer"/>
                </element>
              </oneOrMore>
            </element>
          </oneOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>

  <!-- IndicatorDefinition -->
  <define name="indicatorTypes">
    <element name="indicatorTypes" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="indicatorType">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
          <element name="factor">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="indicators">
    <element name="indicators" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="indicator">
          <ref name="identifiableObject"/>
          <element name="annualized">
            <text/>
          </element>
          <element name="indicatorType">
            <data type="integer"/>
          </element>
          <element name="numerator">
            <text/>
          </element>
          <element name="numeratorDescription">
            <text/>
          </element>
          <element name="numeratorAggregationOperator">
            <text/>
          </element>
          <element name="denominator">
            <text/>
          </element>
          <element name="denominatorDescription">
            <text/>
          </element>
          <element name="denominatorAggregationOperator">
            <text/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="IndicatorGroupSets">
    <element name="IndicatorGroupSets" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="IndicatorGroupSet">
          <ref name="identifiableObject"/>
          <oneOrMore>
            <element name="IndicatorGroup">
              <ref name="identifiableObject"/>
              <element name="IndicatorId">
                <data type="integer"/>
              </element>
            </element>
          </oneOrMore>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- Data Dictionary Definition -->
  <define name="dataDictionaries">
    <element name="dataDictionaries" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="dataDictionary">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
          <element name="description">
            <text/>
          </element>
          <element name="region">
            <text/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="dataDictionaryDataElements">
    <element name="dataDictionaryDataElements" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="dataDictionaryDataElement">
          <element name="dataDictionary">
            <data type="integer"/>
          </element>
          <element name="dataElement">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="dataDictionaryIndicators">
    <element name="dataDictionaryIndicators" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="dataDictionaryIndicator">
          <element name="dataDictionary">
            <data type="integer"/>
          </element>
          <element name="indicator">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- DataSet Definition -->
  <define name="dataSets">
    <element name="dataSets" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="dataSet">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
          <element name="shortName">
            <text/>
          </element>
          <element name="code">
            <text/>
          </element>
          <element name="periodType">
            <text/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="dataSetMembers">
    <element name="dataSetMembers" ns="http://dhis2.org/ns/schema/dxf2">
      <!-- TODO: check dataSetMembers -->
      <ref name="anyElements"/>
    </element>
  </define>
  <!-- Organisation Unit Definition -->
  <define name="organisationUnits">
    <element name="organisationUnits" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <ref name="organisationUnit"/>
      </zeroOrMore>
    </element>
  </define>
  <define name="organisationUnit">
    <element name="organisationUnit" ns="http://dhis2.org/ns/schema/dxf2">
      <group>
        <element name="id">
          <data type="integer"/>
        </element>
        <element name="uuid">
          <text/>
        </element>
        <element name="name">
          <text/>
        </element>
        <element name="shortName">
          <text/>
        </element>
        <element name="code">
          <text/>
        </element>
        <!-- <element name="openingDate"><data type="date"/></element> -->
        <element name="openingDate">
          <text/>
        </element>
        <!-- TODO: accept Date or nothing -->
        <element name="closedDate">
          <text/>
        </element>
        <element name="active">
          <text/>
        </element>
        <element name="comment">
          <text/>
        </element>
        <element name="geoCode">
          <text/>
        </element>
      </group>
      <!-- TODO: URL in dxf? -->
    </element>
  </define>
  <define name="organisationUnitRelationships">
    <element name="organisationUnitRelationships" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="organisationUnitRelationship">
          <element name="parent">
            <data type="integer"/>
          </element>
          <element name="child">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="organisationUnitGroups">
    <element name="organisationUnitGroups" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="organisationUnitGroup">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="uuid">
            <text/>
          </element>
          <element name="name">
            <text/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="organisationUnitGroupMembers">
    <element name="organisationUnitGroupMembers" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="organisationUnitGroupMember">
          <element name="organisationUnitGroup">
            <data type="integer"/>
          </element>
          <element name="organisationUnit">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="groupSets">
    <element name="groupSets" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="groupSet">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
          <element name="description">
            <text/>
          </element>
          <element name="compulsory">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="exclusive">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="groupSetMembers" ns="http://dhis2.org/ns/schema/dxf2">
    <element name="groupSetMembers">
      <zeroOrMore>
        <element name="groupSetMember">
          <element name="groupSet">
            <data type="integer"/>
          </element>
          <element name="organisationUnitGroup">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="organisationUnitLevels" >
    <element name="organisationUnitLevels" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="organisationUnitLevel">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="level">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="dataSetSourceAssociations">
    <element name="dataSetSourceAssociations" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="dataSetSourceAssociation">
          <element name="dataSet">
            <data type="integer"/>
          </element>
          <element name="source">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- Periods -->
  <define name="periods">
    <element name="periods" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="period">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="periodType">
            <text/>
          </element>
          <element name="startDate">
            <data type="date"/>
          </element>
          <element name="endDate">
            <data type="date"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- ReportTable Definition -->
  <define name="reportTables">
    <element name="reportTables" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="reportTable">
          <element name="id">
            <data type="integer"/>
          </element>
          <element name="name">
            <text/>
          </element>
          <element name="tableName">
            <text/>
          </element>
          <element name="existingTableName">
            <text/>
          </element>
          <element name="mode">
            <text/>
          </element>
          <element name="regression">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="doIndicators">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="doCategoryOptionCombos">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="doPeriods">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="doOrganisationUnits">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="reportingMonth">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last3Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last6Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last9Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last12Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="soFarThisYear">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="soFarThisFinancialYear">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last3To6Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last6To9Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last9To12Months">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="last12IndividualMonths">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="individualMonthsThisYear">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="individualQuartersThisYear">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="paramReportingMonth">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="paramParentOrganisationUnit">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
          <element name="paramOrganisationUnit">
            <choice>
              <value>true</value>
              <value>false</value>
            </choice>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <define name="reportTableDataElements">
    <element name="reportTableDataElements" ns="http://dhis2.org/ns/schema/dxf2">
      <!-- TODO: check for proper children -->
      <ref name="anyElements"/>
    </element>
  </define>
  <!-- ReportTableCategoryOptionCombos -->
  <define name="reportTableCategoryOptionCombos">
    <element name="reportTableCategoryOptionCombos" ns="http://dhis2.org/ns/schema/dxf2">
      <!-- TODO: check for proper children -->
      <ref name="anyElements"/>
    </element>
  </define>
  <!-- ReportTableIndicators -->
  <define name="reportTableIndicators">
    <element name="reportTableIndicators" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="reportTableIndicator">
          <element name="reportTable">
            <data type="integer"/>
          </element>
          <element name="indicator">
            <data type="integer"/>
          </element>
          <element name="sortOrder">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- ReportTableDataSets -->
  <define name="reportTableDataSets">
    <element name="reportTableDataSets" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="reportTableDataSet">
          <element name="reportTable">
            <data type="integer"/>
          </element>
          <element name="dataSet">
            <data type="integer"/>
          </element>
          <element name="sortOrder">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- ReportTablePeriods -->
  <define name="reportTablePeriods">
    <element name="reportTablePeriods" ns="http://dhis2.org/ns/schema/dxf2">
      <!-- TODO: check for proper children -->
      <ref name="anyElements"/>
    </element>
  </define>
  <!-- ReportTableOrganisationUnits -->
  <define name="reportTableOrganisationUnits">
    <element name="reportTableOrganisationUnits" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="reportTableOrganisationUnit">
          <element name="reportTable">
            <data type="integer"/>
          </element>
          <element name="organisationUnit">
            <data type="integer"/>
          </element>
          <element name="sortOrder">
            <data type="integer"/>
          </element>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- TODO: What are these? -->
  <define name="completeDataSetRegistrations">
    <element name="completeDataSetRegistrations" ns="http://dhis2.org/ns/schema/dxf2">
      <!-- TODO: check completeDataSetRegistrations -->
      <ref name="anyElements"/>
    </element>
  </define>
  <!-- DataValue Section -->
  <define name="dataValues">
    <element name="dataValues" ns="http://dhis2.org/ns/schema/dxf2">
      <zeroOrMore>
        <element name="dataValue">
          <attribute name="dataElement">
            <data type="integer"/>
          </attribute>
          <attribute name="period">
            <data type="integer"/>
          </attribute>
          <attribute name="source">
            <data type="integer"/>
          </attribute>
          <attribute name="value">
            <text/>
          </attribute>
          <optional>
            <attribute name="storedBy">
              <data type="integer"/>
            </attribute>
          </optional>
          <optional>
            <attribute name="timeStamp">
              <text/>
            </attribute>
          </optional>
          <optional>
            <attribute name="comment">
              <text/>
            </attribute>
          </optional>
          <attribute name="categoryOptionCombo">
            <data type="integer"/>
          </attribute>
        </element>
      </zeroOrMore>
    </element>
  </define>
  <!-- Convenience (from odf spec) for filling in the "dark spots" -->
  <define name="anyAttListOrElements">
    <zeroOrMore>
      <attribute>
        <anyName/>
      </attribute>
    </zeroOrMore>
    <ref name="anyElements"/>
  </define>
  <define name="anyElements">
    <zeroOrMore>
      <element>
        <anyName/>
        <mixed>
          <ref name="anyAttListOrElements"/>
        </mixed>
      </element>
    </zeroOrMore>
  </define>
</grammar>
